<table class="table table-striped">
  <thead>
      <th></th>
      {{#each this.house.titles as |title|}}
      <th>{{title}}</th>
      {{/each}}
  </thead>

  <tbody>
    {{#each this.house.courtesans as |c| }}
    <tr>
      {{#each-in c as |field value| }}
        <td>
          {{#if (eq field 'char')}}
            <CharIconInline @char={{value}} />
          {{else}} 
            {{#if (eq field 'Marque Progress')}}
               {{#if value}}
                 <div class="xp-progress">
                    <ProgressBar @currentValue={{value}} @maxValue="100" @bgColor="bg-success" @showLabel=true>
                    </ProgressBar>
                    <div class="progress-value">{{value}}%</div>
                 </div>
               {{else}} 
                   {{#if (eq c.char.ranks_rank 'Courtesan') }}
                       <div class="xp-progress">
                         <ProgressBar @currentValue="100" @maxValue="100" @bgCol>
                         </ProgressBar>
                         <div class="progress-value">100%</div>
                      </div>
                   {{/if}}
               {{/if}}
              {{else}}
                {{#if (eq field 'Action')}}
                   {{#if (eq value 'Complete')}}
                      <button name="acknowledge" {{action 'AcknowledgeMarque' c.char.name}} class="btn btn-secondary">Acknowledge Marque</button>
                   {{else}}
                     {{#if (eq value 'Debut')}}
                          <button name="debut" {{action 'InitMarque' c.char.name}} class="btn btn-secondary">Start Marque</button>
                     {{/if}}
                   {{/if}}
                {{else}}
                  {{value}}
              {{/if}}
            {{/if}}  
          {{/if}}  
        </td>
        {{/each-in}}
    </tr>
    {{/each}}
  </tbody>

</table>

{{outlet}}
